In [3]:
#string operations
str = "Hello my name is Shubham Tiwariüòâüòè"
print(type(str))
print(str.upper()) # convert string to uppercase
print(str.lower())
print(str[-2:])
print(hash(str))

<class 'str'>
HELLO MY NAME IS SHUBHAM TIWARIüòâüòè
hello my name is shubham tiwariüòâüòè
üòâüòè
7519966227790285071

In [1]:
#list operations
list_1 = [1,"Hello World",True,1.345]
print(list_1)
list_1.insert(len(list_1),7)
print(list_1,sep=" ") # insert 7 at the end of the list
for x in list_1:
    print(x,type(x))

[1, 'Hello World', True, 1.345]
[1, 'Hello World', True, 1.345, 7]
1 <class 'int'>
Hello World <class 'str'>
True <class 'bool'>
1.345 <class 'float'>
7 <class 'int'>

In [11]:
#Dictionary operations
D = {1:"House",2:"of",3:"Dragons",4:"is a part of",5:"Game",6:"of",7:"Thrones"}
del D[4]
print(D)

{1: 'House', 2: 'of', 3: 'Dragons', 5: 'Game', 6: 'of', 7: 'Thrones'}

In [8]:
#Tuple operations
tuple_1 = (1,"Hello World",True,2.645)
print(tuple_1,sep=" ")
print(tuple_1.count(1))
print(tuple_1.index(1)) # returns the index of the first occurrence of the specified value

(1, 'Hello World', True, 2.645)
2
0

In [9]:
#set operations
set_1 = {1,2,3,4,5}
print(set_1,sep=" ")
set_1.add(6)
print(set_1,sep="")
set_1.remove(6)
print(set_1,sep="")
set_2={4,5,6,7,8}
print(set_1.union(set_2))
print(set_1.intersection(set_2))
print(set_1 ^ set_2)

{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5, 6}
{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5, 6, 7, 8}
{4, 5}
{1, 2, 3, 6, 7, 8}