In [1]:
import pandas as pd

In [2]:
# Creating a DataFrame with Product Data
data = {
    "Product": ["Laptop", "Phone", "Tablet", "Monitor", "Keyboard"],
    "Price": [1200, 800, 300, 400, 100],
    "Stock": [10, 25, 30, 15, 50],
    "Category": ["Electronics", "Electronics", "Electronics", "Accessories", "Accessories"]
}
df = pd.DataFrame(data)

In [3]:
# Display the DataFrame
print("Original DataFrame:")
print(df)

Original DataFrame:
    Product  Price  Stock     Category
0    Laptop   1200     10  Electronics
1     Phone    800     25  Electronics
2    Tablet    300     30  Electronics
3   Monitor    400     15  Accessories
4  Keyboard    100     50  Accessories

In [4]:
# Adding a Discounted Price Column
df["Discounted Price"] = df["Price"] * 0.90  # Applying a 10% discount
print("\nDataFrame after adding Discounted Price:")
print(df)

DataFrame after adding Discounted Price:
    Product  Price  Stock     Category  Discounted Price
0    Laptop   1200     10  Electronics            1080.0
1     Phone    800     25  Electronics             720.0
2    Tablet    300     30  Electronics             270.0
3   Monitor    400     15  Accessories             360.0
4  Keyboard    100     50  Accessories              90.0

In [4]:
# Filtering products priced above $500
filtered_df = df[df["Price"] > 500]
print("\nFiltered Products (Price > 500):")
print(filtered_df)

Filtered Products (Price > 500):
  Product  Price  Stock     Category
0  Laptop   1200     10  Electronics
1   Phone    800     25  Electronics

In [6]:
# Grouping by Category and computing average price
category_avg_price = df.groupby("Category")["Price"].mean()
print("\nAverage Price per Category:")
print(category_avg_price)

Average Price per Category:
Category
Accessories    250.000000
Electronics    766.666667
Name: Price, dtype: float64

In [5]:
# Saving to CSV
df.to_csv("product_data.csv", index=False)
print("\nData saved to product_data.csv")

Data saved to product_data.csv